body{
    margin:0;
    padding:0;
    font-size:2.5em;
    font-family:sans-serif;
  }
  
  .header{
    height:100vh;
    margin:0;
    display:grid;
    grid-template-columns:1fr 1fr;
  }
  
.halftwo{
  background-image:url('leafycomputer.jpeg');
  background-position:center;
  background-size:cover;
}

  .timeline{
    width:100%;
    margin:0;
    position:absolute;
    display:grid;
    grid-template-columns: 6fr 5fr 10fr; 
    padding-top:10vh;
    padding-bottom:15em;
    font-family:sans-serif;
   
  }
  
  .digit1{
    line-height:0.78em;
    font-size:5em;
    position:sticky;
    top:65vh;
    background:white;
    z-index:2;
    padding:0;
    margin:0;
    text-align:right;
    height:0.78em;
  
  }
  
  .digit2{
    text-align:left;
    line-height:0.78em;
    font-size:5em;
  }
  
  .events{
    padding: 0 2.2em 0 0;
    font-size:0.75em;
    margin-bottom:1em;
  }

  img{
      width:100%;
      float:right;
      border:solid black 1px;
      margin:0 0 1em 0;
  }
  