.wrapper {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
}

h1, h2 {
	text-align: center;
}

.episode-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.episode-item {
	margin: 5px 0;
	padding: 5px;
	background-color: #f2f2f2;
	border-radius: 5px;
	display: flex;
	align-items: center;
}

.episode-checkbox {
	margin-right: 10px;
}

.score {
	margin-left: auto;
	font-weight: bold;
}

.total{
    margin-left: 30px;
    font-weight: bold;
    opacity:.5;
}

.placeholder{
    text-align:center;
}


#unstreamed-episodes > .placeholder {
    display: none;
  }

  #streamed-episodes > li > label{
    width:100%;
    cursor:all-scroll;
  }