*{
    padding:0;
    margin:0;
    font-family:monospace;
    font-size:12pt;
}

.site{
    display:grid;
    grid-template-columns: 5fr 2fr;
}


.sketchbook{
    background:white;
    height:calc(100vh - 0px);
    position:relative;
}



.notes{
    padding:50px 20px;
    text-align:justify;
    padding-right:50px;
}

iframe{
    width:100vw;
    height:100vh;
    border:none;
    overflow:hidden;
    position:absolute;
}

img{
    position:absolute;
    right:0;
    height:100%;
    filter:grayscale(0.9);
}

.menu{
    position:absolute;
    right:55px;
    z-index:2;
    top:0;
    padding-top:10px;
    height:30px;
    width:calc(27% - 50px);
    background:white;
    border-bottom:solid black 1px;
    margin-bottom:10px;
}

@media (max-aspect-ratio:5/7){
    .site{
        grid-template-columns:1fr;
        grid-template-rows: 6fr 2fr;
        height:100vh;
    }
    .sketchbook{
        height:auto;
        width:auto;
        overflow:hidden;
    }
    img{
        left:0;
        right:0;
        bottom:0;
        width:100vw;
        height:auto;
    }
    .menu{
        top:75%;
        left:20px;
        width:calc(100% - 70px);
    }
}